.button {
  font: inherit;
  border: 3px solid #fa9cf5;
  background: #b5f1e2;
  color: rgb(247, 52, 133);
  padding: 0.25rem 1rem;
  cursor: pointer;
  box-shadow: 12px 12px 12px 12px rgb(145, 222, 241);
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
