.button {
  font: inherit;
  border: 3px solid #301319;
  background: #e3ebe9;
  color: rgb(28, 81, 105);
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
